.Medicare {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.profile {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.div-heading h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  /* Primary / Primary */

  color: #00a0b0;
}

.card-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.card-age {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.card-disease {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.white-bg-blue-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  /* Primary / Primary */

  color: #00a0b0;
  background: #f3f1ff;
  /* New Shadow */

  box-shadow: 0px 4px 61px #a5c0cd;
  border-radius: 4px;
}

/* .card-bg {
  background: #eaeaea;
  border-radius: 0px 20px 20px 20px;
  -webkit-border-radius: 0px 20px 20px 20px;
  -moz-border-radius: 0px 20px 20px 20px;
  -ms-border-radius: 0px 20px 20px 20px;
  -o-border-radius: 0px 20px 20px 20px;
} */

.card-top {
  font-family: Slabo 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 12px 12px 12px 12px;
  background: linear-gradient(90deg, #00a0b0 0%, rgba(0, 160, 176, 0.75) 100%);
  border-radius: 0px 20px 0px 0px;
  -webkit-border-radius: 0px 20px 0px 0px;
  -moz-border-radius: 0px 20px 0px 0px;
  -ms-border-radius: 0px 20px 0px 0px;
  -o-border-radius: 0px 20px 0px 0px;
}

.blue-bg-white-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* display: flex;
 align-items: center;
 text-align: center; */
  color: #ffffff;
  /*Primary/Primary*/
  background: #00a0b0;
  /*OurShadow*/
  box-shadow: 0px 4px 61px rgba(0, 160, 176, 0.4);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.online-card {
  background: #f3f1ff;
  width: 300px;
  border-radius: 0px 20px 20px 20px;
  -webkit-border-radius: 0px 20px 20px 20px;
  -moz-border-radius: 0px 20px 20px 20px;
  -ms-border-radius: 0px 20px 20px 20px;
  -o-border-radius: 0px 20px 20px 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

#appointment-nav-bar {
  right: 0px;
  width: 400px;
  height: 48px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.blue-text {
  /* background: #f3f1ff; */
  color: #00a0b0;
  width: 200px;
  height: 28px;
  text-align: center;
  /* margin-left: 30px; */
}

.appointment-tab-content {
  display: flex;
  flex-direction: row;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  color: #00A0B0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00A0B0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
